[submodule "disable_free_saves"]
	path = disable_free_saves
	url = https://github.com/urqw/disable_free_saves.git
[submodule "feedback_for_actions"]
	path = feedback_for_actions
	url = https://github.com/urqw/feedback_for_actions.git
[submodule "shuffle_buttons"]
	path = shuffle_buttons
	url = https://github.com/urqw/shuffle_buttons.git
[submodule "typography"]
	path = typography
	url = https://github.com/urqw/typography.git
[submodule "multiplugin"]
	path = multiplugin
	url = https://github.com/urqw/multiplugin.git
